################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IceCreamTest/.vs/IceCreamTest
/IceCreamTest/bin/Debug/net8.0
/IceCreamTest/obj
